<h1>Players</h1>
<div class="row">
  <% slice_size = (@players.count / 3.0).ceil %>

  <% @players.sort_by { |each| each.name }.each_slice(slice_size) do |player_slice| %>
      <div class="col-md-4">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <% if current_user %>
                <th colspan="2"></th>
            <% end %>
          </tr>
          </thead>

          <tbody>
          <% player_slice.each do |player| %>
              <tr>
                <td><%= link_to player.name, player %></td>
                <% if current_user %>
                    <td><%= link_to 'Edit', edit_player_path(player) %></td>
                    <td><%= link_to 'Destroy', player, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  <% end %>
</div>

<br>

<% if current_user %>
    <%= link_to 'New Player', new_player_path, :class => "btn btn-default" %>
<% end %>
